.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;
  position: sticky;
  top: 0; /* Add this line to set the top position */
  z-index: 1000; /* Adjust the z-index as needed */
}
.navbar h1{
  padding: 1vw;
  color:white;
  cursor: pointer;
}
.navbar .links{
  display:flex;
  align-items: center;
}
.navbar h1::after{
  content: ".";
  color: #3A80E9;
}
.navbar a{
  text-decoration: none;
  margin-right: 2vw;
  color: #888888;
}
.navbar a:hover{
  color:white;
}
.dashbutton{
  padding: 0.7vw 2vw;
  margin-right: 3vw;
  border-radius: 5vw;
  color:white;
  background-color: #3A80E9;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.dashbutton:hover{
  box-shadow: 2px 2px 10px #3A80E9;
}
.first{
  font-size: 8vw;
  color: white;
  cursor: default;
  transition: color 1s;
}
.second{
  font-size: 8vw;
  color: #3A80E9;
}
.first:hover{
  color: black;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}
.homePage{
  background-color: #111111;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 3vw;
  height: 100vh;
}
.image1{
  position: relative;
  height:70vh;
  width:18vw;
  top:15vh;
  left:10vw
}
.image2{
  position: absolute;
  height:85vh;
  width:22vw;
  z-index: 50;
  left:70vw;
  top:15vh;
}
.share{
  padding: 0.7vw 2vw;
  margin-right: 3vw;
  border-radius: 5vw;
  color:white;
  background-color: #111111;
  border: 1px solid #3A80E9;
  cursor: pointer;
  transition: all 0.5s;
}
.share:hover{
  background-color: #3A80E9;
}
